asgiref==3.8.1
attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.0
coreapi==2.3.3
coreschema==0.0.4
Django==4.2.13
django-filter==24.3
djangorestframework==3.15.2
drf-spectacular==0.28.0
drf-yasg==1.21.8
idna==3.10
importlib_resources==6.4.5
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications
Markdown==3.7
MarkupSafe
packaging==24.2
pillow
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py
sqlparse==0.5.1
swagger-spec-validator==3.0.4
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1



drf-spectacular
djangorestframework_simplejwt
djoser


# third party
black
flake8-django
pre-commit
urllib3

# testing
pytest
pytest-django

# email third party
django-mail-templated
